.create-family {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;

  .wrap-family {
    margin-right: 12px;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0 2px 6px gray;

    .family-title {
      align-self: flex-end;
      padding: 12px;
      font-size: 21px;
    }

    .person-screen {
      margin-bottom: 12px;
      min-width: 30vw;
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(4) {
        display: block;
      }

      .description {
        flex: 0 0 30%;
        margin-right: 12px;
        border-radius: 12px;
        border: 3px solid lightgray;
        padding: 12px;
        font-size: 21px;
        text-align: center;
      }

      .action-btn {
        margin-right: 12px;
        border-radius: 12px;
        border: 0;
        padding: 12px;
        background-color: lightblue;
        transition: 300ms;

        &:hover {
          background-color: snow;
        }

        &:active {
          background-color: #aabbbf;
        }
      }

      .children-plus {
        margin-bottom: 21px;
        font-size: 21px;
        font-weight: bold;
        text-align: right;
      }

      .children-plus span {
        border-radius: 12px;
        border: 1px solid seagreen;
        padding: 9px 12px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
          background-color: seagreen;
        }

        &:active {
          background-color: snow;
        }
      }

      .child-container {
        margin-bottom: 12px;
        display: flex;
      }
    }

    button {
      margin-right: 12px;
      font-size: 21px;
      box-shadow: 0 2px 6px gray;
      cursor: pointer;
    }


    .btn-add-family {
      border-radius: 3px;
      padding: 6px;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0 2px 6px lightgray;
    }
  }
}




