<div class="create-family">
  <div class="wrap-family">
    <div class="family-title">Create family</div>

    <div class="person-screen">
      <input class="description" *ngIf = "family.father; else unset1" disabled placeholder="{{family.father.firstName}}">
      <ng-template #unset1>
        <input class="description" disabled placeholder="add father">
      </ng-template>
      <button class="action-btn" type="button" (click)="createNewPerson(formType.FATHER)">add</button>
      <button class="action-btn" type="button" *ngIf="family.father" (click)="changePerson(formType.FATHER)">change</button>
      <button class="action-btn" type="button" *ngIf="!family.father" disabled>change</button>
      <button class="action-btn" type="button" (click)="deletePerson(formType.FATHER)">delete</button>
    </div>

    <div class="person-screen">
      <input class="description" *ngIf = "family.mother; else unset2" disabled placeholder="{{family.mother.firstName}}">
      <ng-template #unset2>
        <input class="description" disabled placeholder="add mother">
      </ng-template>
      <button class="action-btn" type="button" (click)="createNewPerson(formType.MOTHER)">add</button>
      <button class="action-btn" type="button" *ngIf="family.mother" (click)="changePerson(formType.MOTHER)">change</button>
      <button class="action-btn" type="button" *ngIf="!family.mother" disabled>change</button>
      <button class="action-btn" type="button" (click)="deletePerson(formType.MOTHER)">delete</button>
    </div>

    <div class="person-screen">
      <div class="children-plus" ><span (click)="addChildTemplate()">+</span></div>
      <div class="child-container" *ngFor = 'let child of childrenAmount'>
        <input class="description" disabled placeholder="add child">
        <button class="action-btn" type="button" (click)="createNewPerson(formType.CHILD)">add</button>
        <button class="action-btn" type="button" (click)="deleteChildTemplate()">delete</button>
        <button class="action-btn" type="button">change</button>
      </div>
    </div>



    <button class="btn-add-family" type="button" (click)="saveFamily()">save Family</button>
  </div>
  <person-form *ngIf="personDialogVisible" (addedPerson)="addPersonInFamily($event)" [person]="currentPerson" [personType]="personType"></person-form>
</div>
