<div class="create-family">
  <div class="wrap-family">
    <div class="family-title">Create family</div>

    <div class="person-screen">
      <div class="description" [hidden]="family.father">Father</div>
      <person class="create-person" *ngIf = "family.father" [person]="family.father" >{{family.father.firstName}} {{family.father.age}}</person>
      <div class="actions-wrap">
        <button class="action-btn" type="button" (click)="createNewPerson(formType.FATHER)" [hidden]="family.father">add</button>
        <button class="action-btn" type="button" (click)="createNewPerson(formType.FATHER)" [hidden]="family.father">select</button>
        <button class="action-btn change" type="button" (click)="changePerson(formType.FATHER)" [hidden]="!family.father">change</button>
        <button class="action-btn delete" type="button" (click)="deletePerson(formType.FATHER)" [hidden]="!family.father">delete</button>
      </div>
    </div>

    <div class="person-screen">
      <div class="description" [hidden]="family.mother">Mother</div>
      <person class="create-person" *ngIf = "family.mother" [person]="family.mother">Mother: {{family.mother.firstName}} {{family.mother.age}}</person>
      <div class="actions-wrap">
        <button class="action-btn" type="button" (click)="createNewPerson(formType.MOTHER)" [hidden]="family.mother">add</button>
        <button class="action-btn" type="button" (click)="createNewPerson(formType.FATHER)" [hidden]="family.father">select</button>
        <button class="action-btn change" type="button" (click)="changePerson(formType.MOTHER)" [hidden]="!family.mother">change</button>
        <button class="action-btn delete" type="button" (click)="deletePerson(formType.MOTHER)" [hidden]="!family.mother">delete</button>
      </div>
    </div>

    <div class="person-screen">
      <div class="children-plus" ><span (click)="addChildTemplate()">+</span></div>
      <div class="child-container" *ngFor = 'let child of childrenAmount'>
        <input class="description" disabled placeholder="add child">
        <div class="actions-wrap">
          <button class="action-btn" type="button" (click)="createNewPerson(formType.CHILD)">add</button>
          <button class="action-btn change" type="button" (click)="deleteChildTemplate()">delete</button>
          <button class="action-btn delete" type="button">change</button>
        </div>
      </div>
    </div>

    <button class="btn-add-family" type="button" (click)="saveFamily()">save Family</button>
  </div>

  <person-form *ngIf="personDialogVisible" (addedPerson)="addPersonInFamily($event)" [person]="currentPerson" [personType]="personType"></person-form>
</div>
