.table-families {
  display: flex;
  flex-flow: column nowrap;

  .container{
    width: 1890px;
  }
  .button-add-new {
    align-self: center;
    margin-bottom: 21px;
    border: none;
    border-radius: 50%;
    padding: 12px 19px;
    font-size: 21px;
    text-align: left;
    background-color: #90ee906e;
    box-shadow: 0 2px 6px lightgrey;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      transform: translateY(-6px);
    }
  }

  .row {
    margin-bottom: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .family {
      position: relative;
      width: 221px;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      margin-right: 12px;
      border-radius: 3px;
      padding: 18px;
      font-size: 18px;
      color: black;
      background-color: #bebe80;
      box-shadow: 0 2px 6px lightgrey;
      transition: 300ms;
      cursor: pointer;

      .line-left {
        align-items: flex-end;
        border: 2px solid black;
        width: 50%;
        transform: rotateZ(-45deg) translateX(-30px);
        box-shadow: 0 4px 8px gray;
      }

      family {
        margin-bottom: 30px;
      }
    }

    .family-none {
      width: 221px;
    }

    .row-actions {
      display: flex;
      justify-content: flex-end;
      padding: 4px;

      button {
        border-radius: 6px;
        border: 0;
        padding: 9px 12px;
        font-size: 16px;
        cursor: pointer;
        transition: 210ms;
        background: none;
      }

      .button-add {
        margin-right: 12px;
        background-color: #ffa50073;

        &:hover {
          transform: translateY(-3px);
          background-color: orange;
        }
      }

      .button-delete {
        background-color: #f080807d;

        &:hover {
          transform: translateY(-3px);
          background-color: lightcoral;
        }
      }

    }
  }
}

.arrow-big-left {
  position: relative;
  top: -150px;
  left: 138px;
  border: 1px solid black;
  width: 501px;
  transform: rotate(-35deg);
  z-index: -1;
}

.arrow-big-right {
  position: relative;
  top: -151px;
  right: 458px;
  border: 1px solid black;
  width: 501px;
  transform: rotate(35deg);
  z-index: -1;
}

.arrow-center {
  z-index: -1;
  position: relative;
  border: 1px solid black;
  width: 100%;
  transform: rotate(90deg);
}

.arrow-left_x4 {
  position: relative;
  top: -39px;
  left: 75px;
  border: 1px solid black;
  transform: rotate(-45deg);
  z-index: -1;
}

.arrow-right_x4 {
  position: relative;
  top: -58px;
  right: 75px;
  border: 1px solid black;
  transform: rotate(45deg);
  z-index: -1;
}

.arrow-left_x6 {
  position: relative;
  top: -72px;
  left: 22px;
  border: 1px solid black;
  transform: rotate(-45deg);
  z-index: -1;
}

.arrow-right_x6 {
  position: relative;
  top: -72px;
  right: 22px;
  border: 1px solid black;
  transform: rotate(45deg);
  z-index: -1;
}

.arrow-left_xN {
  position: relative;
  top: -72px;
  left: 22px;
  border: 1px solid black;
  transform: rotate(-45deg);
  z-index: -1;
}
.arrow-right_xN {
  position: relative;
  top: -82px;
  right: 22px;
  border: 1px solid black;
  transform: rotate(45deg);
  z-index: -1;
}
