<div class="table-families">
  <button class="button-add-new" [routerLink] = "['/createFamily', '']">+</button>
  <ng-container *ngFor="let reatedFamilies of familyGenius">
    <div class="row">
      <ng-container *ngFor="let family of reatedFamilies">
        <div class="family">
          <family [family]="family" [routerLink] = "['/viewFamily', family.id]"></family>
          <div class="row-actions">
            <button class="button-add" [routerLink] = "['/viewFamily', family.id]">add</button>
            <button class="button-delete" (click)="showConfirm(family)">del</button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <confirm-dialog *ngIf = "confirmDialogVisiable" (confirmAction)="confirmActionHandler($event)"></confirm-dialog>
</div>
