<div class="table-families">
  <div class="container">
    <button class="button-add-new" [routerLink] = "['/createFamily', '']">+</button>
      <ng-container *ngFor="let gridRow of familyTreeGrid; index as indexRow">
        <div class="row">
          <ng-container *ngFor="let nodeCellsSet of gridRow; count as parentAmount">
            <ng-container *ngFor="let node of nodeCellsSet; count as nodeAmount; index as nodeIndex">
              <div [ngClass]="getFamilyStyle(node)">
                <ng-container *ngIf="node.data">
                  <div *ngIf="indexRow" [ngClass]="getArrowStyle(parentAmount, nodeAmount, nodeIndex)"></div>
                  <family [family]="node.data" [routerLink] = "['/viewFamily', node.data.id]"></family>
                  <div class="row-actions">
                    <button class="button-add" [routerLink] = "['/viewFamily', node.data.id]">add</button>
                    <button class="button-delete" (click)="showConfirm(node.data)">del</button>
                  </div>
                </ng-container>
              </div>
              </ng-container>
          </ng-container>
        </div>
      </ng-container>
  </div>

  <confirm-dialog *ngIf = "confirmDialogVisible" (confirmAction)="confirmActionHandler($event)"></confirm-dialog>
</div>
