<ng-container [ngSwitch]="templateVersion">

  <form *ngSwitchCase="personFormTemplateVersion.PERSON_VIEW" class="form-wrap">
    <div class="wrap">
      <button class="btn-close" routerLink="/Persons">X</button>
      <div class="title-wrap">
        <div class="person-title"><span>Person</span></div>
        <button class="person-edit-btn" (click)="toggleViewEditPerson()">Edit</button>
      </div>
      <input class="person-fn person-input-view" placeholder="First name" #firstName="ngModel" [(ngModel)]="person.firstName" name="firstName"  disabled>
      <input class="person-ln person-input-view" placeholder="Last name" [(ngModel)]="person.lastName" name="lastName"disabled>
      <input class="person-mn person-input-view" placeholder="Middle name" [(ngModel)]="person.middleName" name="middleName" autocomplete="off" disabled>
      <input class="person-age person-input-view" placeholder="Age" type="number"  #age="ngModel"  [(ngModel)]="person.age" name="age" disabled>
      <input class="person-sex person-input-view" placeholder="Gender" #sex="ngModel"  [(ngModel)]="person.sex" name="gender" disabled>
      <ng-container *ngFor = "let lifeEvent of person.lifeEvents; let index = index">
        <p class="person-title-events" *ngIf="index === 0"><span>Events</span></p>
        <life-event  [lifeEvent]="lifeEvent" (returnedLifeEvent)="lifeEventHandler($event)"></life-event>
      </ng-container>
      <div class="event-add-wrap">
        <p class="event-add-title"><span>new event</span></p>
        <button class="btn-add-event" (click)="createLifeEvent()">+</button>
      </div>
    </div>
    <life-event-form *ngIf = "lifeEventFormDialogVisiable"
                     [templateVersion]="lifeEventFormType"
                     [lifeEvent]="lifeEventClone"
                     [personFullName]="getPersonFullName()"
                     (formEvents)="lifeEventFormHandler($event)">
    </life-event-form>
    <confirm-dialog *ngIf = "confirmDialogVisiable" (confirmAction)="confirmActionHandler($event)"></confirm-dialog>
  </form>

  <form *ngSwitchCase="personFormTemplateVersion.PERSON_EDIT" class="form-wrap">
    <div class="wrap">
      <span class="btn-close" (click)="exit()">X</span>
      <div class="person-title"><span>Person</span></div>
      <input class="person-fn person-input-edit" #firstName="ngModel" type="text" [(ngModel)]="personClone.firstName" name="firstName" autocomplete="off" placeholder="First name" minlength="2" tabindex="1" autofocus>
      <input class="person-ln person-input-edit" type="text" placeholder="Last name" tabindex="2" [(ngModel)]="personClone.lastName" name="lastName" autocomplete="off">
      <input class="person-mn person-input-edit" type="text" placeholder="Middle name" tabindex="3" [(ngModel)]="personClone.middleName" name="middleName" autocomplete="off">
      <input class="person-age person-input-edit" #age="ngModel" type="number" placeholder="Age" tabindex="4" [(ngModel)]="personClone.age" name="age" min="1" autocomplete="off">
      <select class="person-sexlist" #sex="ngModel" name="sex" [(ngModel)]="personClone.sex" tabindex="5">
        <ng-container *ngFor="let sex of PersonSex">
          <option [value]="sex">{{sex}}</option>
        </ng-container>
      </select>
      <div class="actions-wrap">
        <button class="person-create-btn" (click)="changePerson()">Save</button>
      </div>
    </div>
  </form>

  <form *ngSwitchCase="personFormTemplateVersion.PERSON_CREATE" class="form-wrap">
    <div class="wrap">
      <span class="btn-close" routerLink="/Persons">X</span>
      <div class="person-title"><span>Person</span></div>
      <input class="person-fn person-input-edit" #firstName="ngModel" type="text" [(ngModel)]="person.firstName" name="firstName" autocomplete="off" placeholder="First name" minlength="2" tabindex="1" autofocus>
      <input class="person-ln person-input-edit" type="text" placeholder="Last name" tabindex="2" [(ngModel)]="person.lastName" name="lastName" autocomplete="off">
      <input class="person-mn person-input-edit" type="text" placeholder="Middle name" tabindex="3" [(ngModel)]="person.middleName" name="middleName" autocomplete="off">
      <input class="person-age person-input-edit" #age="ngModel" type="number" placeholder="Age" tabindex="4" [(ngModel)]="person.age" name="age" min="1" autocomplete="off">
      <select class="person-sexlist" #sex="ngModel" name="sex" [(ngModel)]="person.sex" tabindex="5">
        <ng-container *ngFor="let sex of PersonSex">
          <option [value]="sex">{{sex}}</option>
        </ng-container>
      </select>
      <div class="actions-wrap">
        <button class="person-create-btn" (click)="savePerson()" routerLink="/Persons">Save</button>
      </div>
    </div>
  </form>

  <form *ngSwitchCase="personFormTemplateVersion.PERSON_SELECT" class="form-wrap">
    <div class="wrap-select">
      <div class="wrap-btn-close">
        <button class="btn-close" (click)="closePersonSelect()" [routerLink] = "getRouterLink()">X</button>
      </div>
      <div class="description-wrap">
        <div class="person-title"><span>{{personType.toUpperCase()}}</span></div>
        <div class="person-description">
          <input class="person-fn person-input-edit" #firstName="ngModel" type="text" [(ngModel)]="person.firstName" name="firstName" placeholder="First name" disabled *ngIf="person.firstName">
          <input class="person-ln person-input-edit" type="text" placeholder="Last name" tabindex="2" [(ngModel)]="person.lastName" name="lastName" disabled *ngIf="person.lastName">
          <input class="person-mn person-input-edit" type="text" placeholder="Middle name" tabindex="3" [(ngModel)]="person.middleName" name="middleName" disabled *ngIf="person.middleName">
          <input class="person-age person-input-edit" #age="ngModel" type="number" placeholder="Age" [(ngModel)]="person.age" name="age" disabled *ngIf="person.age">
        </div>
      </div>
      <div class="persons-list">
        <div  [ngClass]="{'person-item-men': person.sex === personSex.MALE,'person-item-women': person.sex === personSex.FEMALE }" *ngFor = "let person of persons">
          <person [person]="person" [templateVersion]="personTemplateType.FULL" (returnedPerson)="setChangePerson($event)"></person>
        </div>
      </div>
      <div class="actions-wrap">
        <button class="person-create-btn" (click)="selectPerson()"  [routerLink]="getRouterLink()">Select</button>
      </div>
    </div>
  </form>

</ng-container>


