:host(.create-person) {
  --margn: 0 12px 0 0;
  --bradius: 12px;
  --bline: 3px solid gray;
  --padding: 12px;
  --disp: flex;
  --fdir:row;
  --fjust: center;
  --faline: center;
  --minWdt: 172px;
  --fsize: 21px;
  --taline: center;
  --bcground: none;
  --bshadow: none;
  --color: black;

  --nameMargin: 0 12px 0 0;

  --ageSize: 18px;
}




.person {
  margin: var(--margn, 0 0 9px 0);
  padding: var(--padding, 12px);
  border-radius: var(--bradius, 12px);
  border: var(--bline, 0);
  display: var(--displ, flex);
  flex-direction: var(--fdir, column);
  justify-content: var(--fjust, center);
  align-items: var(--faline, center);
  min-width: var(--minWdt, 270px);
  font-size: var(--fsize, 27px);
  color: var(--color, white);
  background-color: var(--bcground, lightblue);
  box-shadow: var(--bshadow, 0 2px 8px gray);
  transition: 300ms;
  cursor: pointer;

  &:hover {
    background-color: var(--bcground, #86c4d4);
  }

  .person-name {
    margin:var(--nameMargin, 0 0 6px 0);
  }

  .person-age {
    font-size: var(--ageSize, 21px);
  }
}







