<div class="life-event__form">
  <div class="form-wrap">
    <p class="life-event-person">{{personFullName}}<p>

    <button class="life-event__btn-close" (click)="close()">X</button>

    <p class="title__select">event type</p>
    <select class="life-event__select" [(ngModel)] = "lifeEvent.type">
      <ng-container *ngFor="let lifeEventType of eventTypes">
        <option class="select-option" value="{{lifeEventType}}">{{lifeEventType}}</option>
      </ng-container>
    </select>
    <p class="title__select">prefix </p>
    <select class="life-event__select" [(ngModel)] = "lifeEvent.prefix">
      <ng-container *ngFor="let eventPrefix of lifeEventPrefix; let i = index">
        <option class="select-option" value="{{eventPrefix}}">{{eventPrefix}}</option>
      </ng-container>
    </select>
    <p class="title__select">date</p>
    <input type="date" class="life-event__calendare" [(ngModel)] = "lifeEvent.date" >
    <input type="text" class="life-event__place text-input" placeholder="enter place" [(ngModel)] = "lifeEvent.place">
    <input type="text" class="life-event__note text-input" placeholder="enter note" [(ngModel)] = "lifeEvent.note">
    <div class="life-event-actions">
      <button class="life-event__save-btn" (click)="save()">save</button>
    </div>
  </div>
</div>
