<ng-container [ngSwitch]="templateVersion">

  <div *ngSwitchCase="personsListTemplateVersion.PERSONS" class="select-persons-list">
    <div class="list_title">
      Persons
    </div>
    <div class="list_action">
      <button class="action-add" (click)="createPerson()">+</button>
    </div>
    <ng-container *ngFor="let person of persons">
      <div class="item-person-man" [ngClass]="{'item-person-man': person.sex === personSex.MALE, 'item-person-woman': person.sex === personSex.FEMALE}">
        <person class="person-short"
                [person]="person"
                [templateVersion]="personTemplateVersion.FULL_DATA"
                (returnedPerson)="returnExistPerson($event)"></person>
      </div>
    </ng-container>
  </div>

  <div *ngSwitchCase="personsListTemplateVersion.PERSONS_EVENTS" class="select-persons-list">
    <div class="list_title">
      Select event
    </div>
    <ng-container *ngFor="let person of persons">
      <div class="item-person-man" [ngClass]="{'item-person-man': person.sex === personSex.MALE, 'item-person-woman': person.sex === personSex.FEMALE}">
        <person class="person-short"
                [person]="person"
                [templateVersion]="personTemplateVersion.EVENTS"
                (returnedLifeEvent)="returnExistPersonLifeEvent($event)"
                (returnedPerson)="returnExistPerson($event)"
                (newLifeEvent)="createNewPersonLifeEvent($event)"></person>
      </div>
    </ng-container>
  </div>

  <div *ngSwitchCase="personsListTemplateVersion.PERSONS_LIST" class="persons-list">
    <div class="list_action">
      <button class="action-add" (click)="createPerson()">+</button>
    </div>
    <ng-container *ngFor="let person of persons">
      <div class="item-person-man" [ngClass]="{'item-person-man': person.sex === personSex.MALE, 'item-person-woman': person.sex === personSex.FEMALE}" >
        <person class="person-short"
                [person]="person"
                [templateVersion]="personTemplateVersion.FULL_DATA"
                (returnedPerson)="returnExistPerson($event)"></person>
      </div>
    </ng-container>
  </div>
</ng-container>

