<div class="family" (click)="returnFamily()">
  <div class="parents">
    <div class="family-father">
      <person [person]="family?.father" [showShortView]="true"></person>
    </div>
    <div class="family-mother">
      <person [person]="family?.mother" [showShortView]="true"></person>
    </div>
  </div>
  <div class="family-children">
    <ng-container *ngFor="let child of family.children">
      <person [person]="child" [showShortView]="true"></person>
    </ng-container>
  </div>
</div>
