<ng-container [ngSwitch] = "templateVersion">
  <div *ngSwitchCase = "personsTemplateType.SHORT" class="person-short" (click)="returnPerson()">
    {{ (person && person.firstName) ? person.firstName : '' }}
    {{ (person && person.age) ? ' ' + person?.age + ' ' : ''  }}
  </div>
  <div *ngSwitchCase = "personsTemplateType.FULL" class="person-fulldata" (click)="returnPerson()">
    <p class="person-description">
      {{ (person && person.firstName) ? person.firstName : ''   }}
      {{ (person && person.lastName) ? person.lastName : ''  }}
      {{ (person && person.middleName) ? person.middleName : ''  }}
      {{ (person && person.age) ? ' ' + person?.age + ' years' : '' }}
      {{ (person && person.sex) ? ' ' + person?.sex + ' ' : '' }}
    </p>
  </div>
</ng-container>


