.header {
  margin-bottom: 51px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  .header-links {
    .link-item {
      margin-right: 9px;
      border: 0;
      border-radius: 3px;
      padding: 9px;
      display: inline-block;
      font-size: 18px;
      color:black;
      //background-color: #cacfd4cc;
      cursor: pointer;
      transition: 300ms;
      //box-shadow: 0 2px 2px grey;
      &:active {
        background-color: snow;
      }
  }
    .is-active {
      background-color: lightslategray;
      color:snow;
    }

  }
  .header-logo {
    flex-basis: 9%;
    .logo-wrap {
      height: 60px;
      width: 60px;
      cursor: pointer;
      .logo-header {
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
    }
  }
}

