<header>
  <div class="header">
    <div class="header-logo">
      <div class="logo-wrap">
        <img class="logo-header" src="../assets/icon__tree_of_life.png" alt="logo" routerLink = "/Home">
      </div>
    </div>
    <div class="header-links">
      <a class="link-item" routerLink = "/Home" type="button">Home</a>
      <a class="link-item" routerLink = "/createFamily" type="button">Create Family</a>
      <a class="link-item" routerLink = "/**" type="button">Change Family</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>

<!--<div class="genus">-->
<!--  <ng-container *ngFor = 'let person of persons' >-->
<!--    <person [person]="person"></person>-->
<!--  </ng-container>-->
<!--</div>-->


