<header>
  <div class="header">
    <div class="header-logo">
      <div class="logo-wrap">
        <img class="logo-header" src="../assets/icon__tree_of_life.png" alt="logo" routerLink="/Home">
      </div>
    </div>
    <div class="header-links">
      <nav>
        <a class="link-item" routerLink="/Persons" routerLinkActive="is-active" >Persons</a>
        <a class="link-item" [routerLink]="['/Families','']" routerLinkActive="is-active" >Families</a>
      </nav>
      <div class="login-link">
        <a class="link-item" routerLink="/login" routerLinkActive="is-active" >Login</a>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>



