<div class="event__form">
  <div class="form-wrap">
    {{personFullName}}
    <button class="event__btn-close" (click)="returnLifeEvent(lifeEventFormAction.CANCEL)">X</button>
    <p class="title__select">event type</p>
    <select class="event__select" [(ngModel)] = "lifeEvent.type">
      <ng-container *ngFor="let lifeEventType of eventTypes">
        <option class="select-option" value="{{lifeEventType}}">{{lifeEventType}}</option>
      </ng-container>
    </select>
    <p class="title__select">prefix </p>
    <select class="event__select" [(ngModel)] = "lifeEvent.prefix">
      <ng-container *ngFor="let eventPrefix of lifeEventPrefix; let i = index">
        <option class="select-option" value="{{eventPrefix}}">{{eventPrefix}}</option>
      </ng-container>
    </select>
    <input type="date" class="event__calendare" [(ngModel)] = "lifeEvent.date" >
    <input type="text" class="event__place text-input" placeholder="enter place" [(ngModel)] = "lifeEvent.place">
    <input type="text" class="event__note text-input" placeholder="enter note" [(ngModel)] = "lifeEvent.note">
    <ng-container [ngSwitch] = "templateVersion">
      <div *ngSwitchCase = "lifeEventFormType.NEW_EVENT" class="event-actions">
        <button class="event__save-btn" type="button" (click)="returnLifeEvent(lifeEventFormAction.SAVE)">save</button>
      </div>
      <div *ngSwitchCase = "lifeEventFormType.EXIST_EVENT" class="event-actions">
        <button class="event__cancel-btn" type="button" (click)="returnLifeEvent(lifeEventFormAction.CHANGE)">save</button>
<!--        <button class="event__cancel-btn" type="button" (click)="returnLifeEvent(lifeEventFormAction.DELETE)">delete</button>-->
      </div>
    </ng-container>
  </div>
</div>
