
.select-persons-list {
  margin-right: 12px;
  align-self: flex-start;
  overflow-y: scroll;
  border: 12px solid white;
  border-radius: 3px;
  padding: 21px 60px 90px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  box-shadow: 0 2px 6px gray;

  .list_title {
    margin-bottom: 12px;
    font-size: 21px;
  }

  .list_action {
    margin-bottom: 21px;
    .action-add {
      border:none;
      border-radius: 50%;
      padding: 12px 19px;
      font-size: 21px;
      text-align: left;
      background-color: #90ee906e;
      box-shadow: 0 2px 6px lightgrey;
      cursor: pointer;
      transition: 300ms;
    }
  }

  .item-person {
    margin-bottom: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 285px;
    font-size: 18px;
    color: black;
    background-color: #9da7b1;
    box-shadow: 0 2px 6px lightgrey;
    transition: 300ms;

    &:hover {
      background-color: #c4c1c1;
    }

    person {
      height: 100%;
      width: 100%;
    }
  }
}
