<ng-container [ngSwitch]="templateVersion">
  <div *ngSwitchCase="personsListTemplateVersion.PERSONS" class="select-persons-list">
    <div class="list_title">
      Persons
    </div>
    <div class="list_action">
      <button class="action-add" (click)="createPerson()">+</button>
    </div>
    <ng-container *ngFor="let person of persons">
      <div class="item-person" *ngIf="person.sex === personSex.MALE" style="background: lightblue">
        <person class="person-short" [person]="person" [templateVersion]="'fullDataTemplate'"
                (returnedPerson)="returnPerson($event)"></person>
      </div>
      <div class="item-person" *ngIf="person.sex === personSex.FEMALE" style="background: pink">
        <person class="person-short" [person]="person" [templateVersion]="'fullDataTemplate'"
                (returnedPerson)="returnPerson($event)"></person>
      </div>
    </ng-container>
  </div>
  <div *ngSwitchCase="personsListTemplateVersion.PERSONS_EVENTS" class="select-persons-list">
    <div class="list_title">
      Persons
    </div>
    <ng-container *ngFor="let person of persons">
      <div class="item-person" *ngIf="person.sex === personSex.MALE" style="background: lightblue">
        <person class="person-short"
                [person]="person"
                [templateVersion]="personTemplateVersion.EVENTS"
                (returnedLifeEvent)="returnExistPersonLifeEvent($event)"
                (returnedPerson)="returnPerson($event)"
                (newLifeEvent)="createNewPersonLifeEvent($event)"></person>
      </div>
      <div class="item-person" *ngIf="person.sex === personSex.FEMALE" style="background: pink">
        <person class="person-short"
                [person]="person"
                [templateVersion]="personTemplateVersion.EVENTS"
                (returnedLifeEvent)="returnExistPersonLifeEvent($event)"
                (returnedPerson)="returnPerson($event)"
                (newLifeEvent)="createNewPersonLifeEvent($event)"></person>
      </div>
    </ng-container>
  </div>
</ng-container>

