<div class="table-persons">
  <button class="button-add-new" type="button" routerLink = '/createPerson'>+</button>
  <ng-container *ngFor="let person of persons; let personIndex = index">
    <div class="row">
      <div [ngClass]="{'person-wrap-man': person.sex === gender.MALE, 'person-wrap-woman':person.sex === gender.FEMALE}"
           [routerLink] = "['/editPerson', person.id]">
        <person [person]="person"
                [templateVersion]="personTemplateType.FULL"></person>
      </div>
      <div class="row-actions">
        <button class="button-add" type="button" [routerLink] = "['/editPerson', person.id]">add</button>
        <button class="button-delete" type="button" (click)="showConfirm(personIndex)">delete</button>
      </div>
    </div>
  </ng-container>
  <confirm-dialog *ngIf = "showConfirmDialog" (confirmAction)="deletePerson($event)"></confirm-dialog>
</div>

