.family {
  height: 100%;
  width: 100%;
  .family-parents {
    margin-bottom: 12px;
    .parents {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 3px;
      justify-content: space-around;
      .family-husband {
        margin-bottom: 3px;
        display: flex;
      }
      .family-wife {
        display: flex;
      }
    }
  }

  .family-children {
    display: flex;
    flex-direction: column;
    .family-child {
      display: flex;
    }
    .family-child {
      margin-bottom: 6px;
    }
    .family-child:last-child {
      margin-bottom: 0;
    }
  }

  .person-title {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bolder;
    color:white;
  }

  .horizont-line {
    margin-bottom: 6px;
    border: 1px solid #6d48484d;
  }
}

